.footer{
    background: var(--primary-color);
    padding-top: 80px;
    width: 100%;
    padding-bottom: 30px;


}

.footer__text{
    line-height: 30px;
    color:rgba(255, 255, 255, 0.706);

}
.footer__quick-links ul li{
    background: transparent !important;
}
.footer__quick-links ul li a{
    color:rgba(255, 255, 255, 0.706);
}

.quick__links-title{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer__contact li span ,.footer__contact li p{
    color:rgba(255, 255, 255, 0.706);
}
.footer__contact li span{
    font-size: 1.2rem;
}
.footer__contact li p{
    font-size:.9rem;
}

.footer__copyright{
    color:rgba(255, 255, 255, 0.706);
    font-size:.9rem;
    margin-top: 50px;
    
}